.App {
  text-align: center;
  margin-top: 50px auto;
  align-items: center;
  
}

.email-section {
   border: 2px solid blueviolet;
   margin: 100px ;
   padding: 50 px;
   
   justify-content: center;
   justify-items: center;

}

.email-label {
   display: block;
  font-size: larger;
  font-style: italic;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding-bottom: 10px;
  

}

.email-div{

   margin: 100px;
   justify-content: space-between;
}